body{margin:0px;-webkit-font-smoothing: antialiased;overflow-y: scroll;
    overflow-x: hidden;}
.logostrip{width:100%;min-height:100px;height:auto;background-color:#fff;box-shadow:0px 1px 5px 0px #5f5f5f;position:relative;z-index:999; }
.strip{width:100%;height:auto;min-height:40px;background-color:#2C3E50;border-bottom:1px solid #e9e9e9;color:#fff;}

.logo{float:left;width:300px;height:100%;font-size:30px;margin-top:15px;margin-left:20px;color:#4a5e91;}
.navi{width:auto;height:60px;background-color:none;list-style:none;float:right;position:relative;margin-top:40px;margin-right:50px;margin-bottom:0px;}
.navi li{display:inline;position:relative;padding:10px 20px;font-family:sans-serif;color: #5f5f5f;font-weight:bold;
	font-size:13px;margin-bottom:10px;}
.navi li a{position:relative;}
.navi li:hover{background-color:#cdcdcd;color:#000;}
.navi li a:hover{text-decoration:none;}
.navi li a:active{text-decoration:none;background-color:#cdcdcd;color:#000;}
.slider{height:500px;width:100%;background-color:#4db5bb;}
.slider img{width:100%;height:100%;}

.ion-ios7-telephone-outline{margin-left:10px;}
.ion-ios7-person-outline{margin-right:10px;}
.strip span{float:right;margin-right:20px;padding:2px 20px;color:#f3f3f3;}
.strip span:hover{background-color:#384f66;color:#f3f3f3;}
.matter{background-color:#f9f9f9;width:100%;height:800px;text-align:left;height:auto;padding-bottom:50px;}

.pro .col-md-3{padding-top:50px;text-align:center;}
.pro .col-md-3 a{text-decoration:none;}
.head{margin-top:30px;}
.line{margin-top:30px;width:100%;}
.button{padding: 8px 0px;font-size: 18px;
width:120px;margin-top:30px;margin-left:auto;margin-right:auto;}
.button:hover{
color:#fff;background-color:#5f5f5f;}
.fstrip{width:100%;height:60px;background-color:#e6e6e6;border-top:1px solid #cdcdcd;text-align:center;}

.button1{width:320px;height:auto;background-color:#f66;color:#fff;margin-right:auto;margin-left:auto;margin-top:10px;font-size:25px;color:#2C3E50;}
.button1 a:hover{text-decoration:none;background: #f65e5e;color:#393939;}
.button1:hover{background: #f65e5e;text-decoration:none;}
.footer{width:100%;height:auto;background-color:#333;border-top:2px solid #f66;color:#a2a2a2;}
.footer .container{border-bottom:1px solid #8e8e8e;padding-bottom:30px;}
.footer h4{margin-top:30px;}


.flogo{font-size:30px;margin-top:10px;}
.flinks{list-style:none;padding:0px;margin-left:10px;}
.flinks li{padding:5px 0px;color:#8e8e8e;font-size:14px;font-weight:bold;}
.flinks li a{color:#8e8e8e;}
.flinks li:hover{background-color:none;color:#f66;text-decoration:none;}
.flinks li a:hover{text-decoration:none;color:#f66;}


.cont{background-color:#f9f9f9;width:100%;height:auto;padding-bottom:50px;}
.form{margin-top:30px;}
.form input[type="text"],.form textarea
{color: #000;font-size: 1em;padding: 0.8em;background: none;width: 100%;margin: 10px 0;
border: 1px solid #5f5f5f;-webkit-appearance: none;}
.form textarea{line-height:50px;}
.form  input[type="submit"]{background: #f66;padding: 0.9em 2em;border: none;outline: none;color: #5f5f5f;text-transform: uppercase;border-radius: 0.3em;
-webkit-border-radius: 0.3em;font-weight:bold;}
.form  input[type="submit"]:hover{background: #f65e5e;color:#393939;}
.cinfo{margin-left:50px;font-size:18px;color:#5f5f5f;}
.pbody hr{ border-top:2px solid #8e8e8e;}
.abt p{font-size:18px;color:#5f5f5f;}
.abt h1{padding-bottom:20px;}

.pbody{background-color:#f9f9f9;width:100%;height:auto;padding-bottom:10px;}
.product{height:280px;width:100%;border:2x solid #5f5f5f;background-color:#fff;position:relative;margin-top:30px;box-shadow:0px 1px 3px 0px #acacac;}

.pimage{background-color:#5f5f5f;margin:10px;float:left;width:40%;height:90%;position;relative;}
.pimage img{width:100%;height:100%;position:relative;}
.product h2{padding:10px 20px;margin:0px;}
.product h4{margin-top:50px;margin-bottom:10px;}
.product h4 span{border:1px solid #8e8e8e;padding:5px 5px;border-radius:5px;background-color:#f3f3f3;}
.product p{margin-bottom:10px;margin-top:40px;}
.sa h4{margin-top:60px;}
.container span a{color:#f3f3f3;text-decoration:none;}
.container span a:hover{color:#f66;text-decoration:none;}

@font-face { font-family: ionicon; src: url('/static/fonts/ionicons.ttf');  }

::-webkit-scrollbar {
    width: 10px;
}
 

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #8e8e8e;  
    
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #cdcdcd;  
}