<!DOCTYPE HTML>
<html>
<head>
<title>Euroarch</title>

<link href="/static/css/euro.css" rel='stylesheet' type='text/css'/>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="/static/css/ionicons.css" rel='stylesheet' type='text/css'/>

</head>
<body>
<div class="strip">
<div class="container">
<i class="ion-ios7-telephone-outline" style="font-size:25px;color:#cdcdcd;"></i>&nbsp&nbsp&nbsp+91484 4035173&nbsp&nbsp&nbsp
<i class="ion-ios7-email-outline" style="font-size:25px;color:#cdcdcd;"></i>&nbsp&nbsp&nbspinfo@euroarch.com
<a href="http://www.euroarchindia.com/admin/" target="_blank"><span>
<i class="ion-ios7-person-outline" style="font-size:25px;color:#cdcdcd;"></i>LOGIN</span></a>

</div>
</div>
<div class="logostrip">
<div class="container">
<div class="logo"><img src="/static/images/eurologo.png">EURO-ARCH</div>
<ul class="navi">
<li><a href="/euro.html">HOME</a></li>
<li><a href="/about.html">ABOUT</a></li>
<li><a href="/product.html">PRODUCTS</a></li>
<li><a href="/contact.html">CONTACT</a></li>
</ul>
</div>
</div>
<div class="pbody">
<div class="container">
<div class="abt">

<h1>EURO-ARCH SYSTEMS&SOLUTIONS </h1>
<p>Euro Arch Systems Pvt. Ltd. is an all Kerala distributor of four internationally acclaimed companies:<br>
1.AFS International,which is a project related company, offering  service to specifiers at concept design, to deliver within programme and budget.<br>
2.Progress profiles is a company that provides  innovative solutions for ceramic tiles, marble, wood/parquet, laminate and vinyl flooring, fitted carpets, resin or concrete flooring, mosaic and low thicknesses flooring.<br>
3.Dividers, a company synonymous for Movable walls, operable walls,and  sliding folding partitions .<br>
4.Moeding,an Innovative leader for rainscreen cladding with thermal insulation.<br>
Our aim here is to distribute these exquisite products all over Kerala. </p
<hr>
</div>
<div class="abt">
<h1>ARCHITECTURAL FACADE SYSYEMS INTERNATIONAL(AFSI)</h1>
<p>Architectural Facade System International b.v. (AFSI) is a leading manufacturer in aluminium Façade Systems.
 The AFSI standard product range is Q-Premium panel/Q-Excellent panel/QBasic panel systems and AFSI manufacturers a wide range of Sun Control Systems. 
 Again this product range does not exclude any requirement which can be manufactured.AFSI manufactures their façade systems, in aluminium, stainless steel, 
 copper and zinc. The manufacturing process is done in State of the Art production facilities in the Netherlands.  
AFSI has combined European technology with efficient manufacturing techniques in order to serve the growing demand for high tech and made to measure quality.
 Our key quality is however our flexibility, we do not try and dictate facade details to architects and we always take a project requirement as the
 governing factor in what AFSI supplies.</p>
 <hr>
</div>
<div class="abt">
<h1>MOEDING</h1>
<p>Consequently, for years Moeding Keramikfassaden GmbH has been focused on well-founded, practice-oriented consulting. Competence and know-how are characteristic
 of our specialized consultants. We even offer our knowledge and our experience in the planning stages, and provide on-site support.
 Moeding Keramikfassaden GmbH is a wholly-owned subsidiary of Girnghuber GmbH. Today approximately 250 employees work at the Marklkofen (Lower Bavaria) plant.
 The entire company site is organized into individual autonomous production facilities.
 This is where the system components are brought together and marketed as "curtained, back-ventilated, and thermally insulated tile facade". 
 Our goal is to set accents in the building landscape and realize construction projects in close cooperation with architects and their creative work, 
 and thus create references which enthuse people through their appearance and functionality. </p>
  <hr>
</div>
<div class="abt">
<h1>PROGRESS PROFILES</h1>
<p>An example of cutting-edge entrepreneurship with determined
goals and a forward-looking action plan aiming at seizing the
latest trends in the sector. All this is proved by over 29 years
of success in the international market, a steadily increasing
turnover, and a solid business context, which, as of today, boastsover 60 employees and over 100 collaborators, and network of
 over 120 high-profile national and international agents, and two headquarters abroad to promote Italian high quality through a
 bold internationalisation policy. A dynamic policy that is expressed in the participation in the most
important trade fairs, as well as in an active confrontation with all the subjects and spaces of development, 
which are challenged with great enthusiasm and will to grow.</p>
<hr>
</div>
<div class="abt">
<h1>DIVIDERS MODERNFOLD LIMITED</h1>
<p>
Dividers Folding Partitions Limited is one of Europe’s leading manufacturers of operable walls and concertina partitions. 
With many years experience, DML provide a full turnkey solution including design, manufacture, installation and servicing. 
Our mission is to provide high quality, value driven, speedy space management solutions.
Alongside Dividers operable walls family of products also include, Sesam hinged partitions and concertina partitions, 
along with a range of glass movable walls.Whether your essential requirement is sound attenuation, ease of operation, or aesthetics, 
there is a solution in the Dividers movable wall product range.

</p>
</div>
</div>
</div>

<div class="footer">
<div class="container">

<div class="col-md-4">

<div class="flogo"><img src="/static/images/eurof.png">EURO-ARCH</div>
<p>Euro-Arch Systems & Solutions Private Limited is the all kerela distributors of wide range of products from renowned international companies.</p>
</div>
<div class="col-md-4">
<h4>CONTACT US</h4>
<i class="ion-android-location" style="font-size:20px;"></i>&nbsp&nbsp&nbspPlackattu Colony,Cochin-17,<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKerela,India-682017.<br>
<i class="ion-ios7-telephone" style="font-size:25px;"></i>&nbsp&nbsp&nbsp+91484 4035173<br>
<i class="ion-email" style="font-size:25px;"></i>&nbsp&nbsp&nbspinfo@euroarch.com
</div>
<div class="col-md-4">
<h4>QUICK LINKS</h4>
<ul class="flinks">
<li><a href="/euro.html">HOME</a></li>
<li><a href="/about.html">ABOUT</a></li>
<li><a href="/product.html">PRODUCTS</a></li>
<li><a href="/contact.html">CONTACT</a></li>
</ul>
</div>
</div>
<div class="container">
<span>All rights reserved.Euro-arch 2014./Designed&Developed by <a href="http://www.webaccede.com/"> WEBACCEDE</a></span>

</div>
</div>

</body>
</html>