<!DOCTYPE HTML>
<html>
<head>
<title>Euroarch</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/css/euro.css" rel='stylesheet' type='text/css'/>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="/static/css/ionicons.css" rel='stylesheet' type='text/css'/>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
</head>
<body>
<div class="strip">
<div class="container">
<i class="ion-ios7-telephone-outline" style="font-size:25px;color:#cdcdcd;"></i>&nbsp&nbsp&nbsp+91484 4035173&nbsp&nbsp&nbsp
<i class="ion-ios7-email-outline" style="font-size:25px;color:#cdcdcd;"></i>&nbsp&nbsp&nbspinfo@euroarch.com
<a href="http://www.euroarchindia.com/admin/" target="_blank"><span>
<i class="ion-ios7-person-outline" style="font-size:25px;color:#cdcdcd;"></i>LOGIN</span></a>

</div>
</div>
<div class="logostrip">
<div class="container">
<div class="logo"><img src="/static/images/eurologo.png">EURO-ARCH</div>
<ul class="navi">
<li><a href="/euro.html">HOME</a></li>
<li><a href="/about.html">ABOUT</a></li>
<li><a href="/product.html">PRODUCTS</a></li>
<li><a href="/contact.html">CONTACT</a></li>
</ul>
</div>
</div>
<div class="cont">
<div id="googleMap" style="width:100%;height:500px;"></div>

<script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(9.974658, 76.296846),
  zoom:18,
  scrollwheel: false,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div class="form">
<div class="container">
<div class="col-md-6">
<form>
<h2>SENT MAIL</h2>
 <input type="text" id="name" placeholder="Name" name="name">
 <input type="text" id="email" placeholder="Email" name="email">
 <input type="text" id="pno" placeholder="Phone no" name="pno">
 <textarea name="message" id="message" placeholder=" Your Message"></textarea>
 <input type="submit" value="Send Message">
</form>
</div>
<div class="col-md-6">
<div class="cinfo">
<h2>CONTACT INFO</h2>
<br>
<i class="ion-android-location" style="font-size:40px;"></i>&nbsp&nbsp&nbspPlackattu Colony,Cochin-17,<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKerela,India-682017.<br>
<i class="ion-ios7-telephone" style="font-size:40px;"></i>&nbsp&nbsp&nbsp+91484 4035173<br>
<i class="ion-email" style="font-size:40px;"></i>&nbsp&nbsp&nbspinfo@euroarch.com
</div>
</div>
</div>
</div>

</div>

<div class="footer">
<div class="container">

<div class="col-md-4">

<div class="flogo"><img src="/static/images/eurof.png">EURO-ARCH</div>
<p>Euro-Arch Systems & Solutions Private Limited is the all kerela distributors of wide range of products from renowned international companies.</p>
</div>
<div class="col-md-4">
<h4>CONTACT US</h4>
<i class="ion-android-location" style="font-size:20px;"></i>&nbsp&nbsp&nbspPlackattu Colony,Cochin-17,<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKerela,India-682017.<br>
<i class="ion-ios7-telephone" style="font-size:25px;"></i>&nbsp&nbsp&nbsp+91484 4035173<br>
<i class="ion-email" style="font-size:25px;"></i>&nbsp&nbsp&nbspinfo@euroarch.com
</div>
<div class="col-md-4">
<h4>QUICK LINKS</h4>
<ul class="flinks">
<li><a href="/euro.html">HOME</a></li>
<li><a href="/about.html">ABOUT</a></li>
<li><a href="/product.html">PRODUCTS</a></li>
<li><a href="/contact.html">CONTACT</a></li>
</ul>
</div>
</div>
<div class="container">
<span>All rights reserved.Euro-arch 2014./Designed&Developed by<a href="http://www.webaccede.com/"> WEBACCEDE</a></span>

</div>
</div>

</body>
</html>