<!DOCTYPE HTML>
<html>
<head>
<title>Euroarch</title>

<link href="/static/css/euro.css" rel='stylesheet' type='text/css'/>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="/static/css/ionicons.css" rel='stylesheet' type='text/css'/>
  <link href="/static/fonts/ionicons.ttf" rel="stylesheet" media="screen">
</head>
<body>
<div class="strip">
<div class="container">
<i class="ion-ios7-telephone-outline" style="font-size:25px;color:#cdcdcd;"></i>&nbsp&nbsp&nbsp+91484 4035173&nbsp&nbsp&nbsp
<i class="ion-ios7-email-outline" style="font-size:25px;color:#cdcdcd;"></i>&nbsp&nbsp&nbspinfo@euroarch.com
<a href="http://www.euroarchindia.com/admin/" target="_blank"><span>
<i class="ion-ios7-person-outline" style="font-size:25px;color:#cdcdcd;"></i>LOGIN</span></a>

</div>
</div>
<div class="logostrip">
<div class="container">
<div class="logo"><img src="/static/images/eurologo.png">EURO-ARCH</div>
<ul class="navi">
<li><a href="/euro.html">HOME</a></li>
<li><a href="/about.html">ABOUT</a></li>
<li><a href="/product.html">PRODUCTS</a></li>
<li><a href="/contact.html">CONTACT</a></li>
</ul>
</div>
</div>
<div class="slider">
<img src="/static/images/header.jpg">
</div>
<div class="matter">
<div class="container">
<div class="head">
<div class="col-md-12">
<h1>EUROARCH</h1>
<p>Euro Arch Systems Pvt. Ltd. is an all Kerala distributor of four internationally acclaimed companies:<br>
1.AFS International,which is a project related company, offering  service to specifiers at concept design, to deliver within programme and budget.<br>
2.Progress profiles is a company that provides  innovative solutions for ceramic tiles, marble, wood/parquet, laminate and vinyl flooring, fitted carpets, resin or concrete flooring, mosaic and low thicknesses flooring.<br>
3.Dividers, a company synonymous for Movable walls, operable walls,and  sliding folding partitions .<br>
4.Moeding,an Innovative leader for rainscreen cladding with thermal insulation.<br>
Our aim here is to distribute these exquisite products all over Kerala. </p>
</div>
<br>
<img src="/static/images/line.png" class="line">
</div>
<div class="pro">
<div class="col-md-3">
<img src="/static/images/progress.png" >
<h3>PROGRESS PROFILES</h3>
<p>The wide range of products is the result of over 28 years of research and development applied to the most advanced technologies.</p>
<a href="http://www.progressprofiles.com/english/index.php" target="_blank"><div class="button">
Details<i class="ion-android-send" style="font-size:20px;margin-left:10px;"></i>
</div></a>
</div>
<div class="col-md-3">
<img src="/static/images/moeding.jpg" >
<h3>MOEDING</h3>
<p>Innovative leader in the insulated,rainscreen facade segment.Goal is to undertake projects and provide references.</p>
<a href="http://www.moeding.de/en/" target="_blank"><div class="button">
Details<i class="ion-android-send" style="font-size:20px;margin-left:10px;"></i>
</div></a>
</div>
<div class="col-md-3">
<img src="/static/images/divider.png" >
<h3>DIVIDERS</h3>
<p>Dividers is one of Europe’s leading manufacturers of movable wall systems and provides unrivalled experience in the design and manufacture.</p>
<a href="http://www.dividersfp.com/" target="_blank"><div class="button">
Details<i class="ion-android-send" style="font-size:20px;margin-left:10px;"></i>
</div></a>
</div>
<div class="col-md-3">
<img src="/static/images/afs.png" >
<h3>AFS</h3>
<p>Architectural facade solutions,Based <br>in Netherlands specialized in manufacturing high end metal panel systems.</p>
<a href="http://www.afsi-international.com/" target="_blank"><div class="button">
Details<i class="ion-android-send" style="font-size:20px;margin-left:10px;"></i>
</div></a>
</div>
</div>
</div>
</div>
<div class="fstrip">
<div class="container">
<a href="product.html">
<div class="button1">
Check stock availability
</div></a>

</div>
</div>
<div class="footer">
<div class="container">

<div class="col-md-4">

<div class="flogo"><img src="/static/images/eurof.png">EURO-ARCH</div>
<p>Euro-Arch Systems & Solutions Private Limited is the all kerela distributors of wide range of products from renowned international companies.</p>
</div>
<div class="col-md-4">
<h4>CONTACT US</h4>
<i class="ion-android-location" style="font-size:20px;"></i>&nbsp&nbsp&nbspPlackattu Colony,Cochin-17,<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKerela,India-682017.<br>
<i class="ion-ios7-telephone" style="font-size:25px;"></i>&nbsp&nbsp&nbsp+91484 4035173<br>
<i class="ion-email" style="font-size:25px;"></i>&nbsp&nbsp&nbspinfo@euroarch.com
</div>
<div class="col-md-4">
<h4>QUICK LINKS</h4>
<ul class="flinks">
<li><a href="/euro.html">HOME</a></li>
<li><a href="/about.html">ABOUT</a></li>
<li><a href="/product.html">PRODUCTS</a></li>
<li><a href="/contact.html">CONTACT</a></li>
</ul>
</div>
</div>
<div class="container">
<span>All rights reserved.Euro-arch 2014./Designed&Developed by <a href="http://www.webaccede.com/"> WEBACCEDE</a></span>

</div>
</div>

</body>
</html>